<div class="card shadow-lg min-width 15rem jm-ad">
  <div class="card-title">
    Featured
  </div>
  <div class="card-body">
    <img src="<%= ad_data.fileURL %>" class="card-img-top" alt="...">
    <p class="card-text"><%= ad_data.content %></p>
  </div>



</div>