<div class="card" style="max-width: 10rem;">
    <div class="card-header">
        Featured
    </div>
    <img src="<%= ad_data.fileURL %>" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><%= ad_data.content %></p>
      <a href="https://www.google.com" class="btn btn-primary">Click to see User's Profile</a>
    </div>
  </div>