<div class="card shadow-lg min-width 15rem jm-ad">
    <div class="card-header jm-ad">
        Featured
    </div>
    <img src="<%= ad_data.fileURL %>" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><%= ad_data.content %></p>
    </div>
</div>