<div class="border">
    <p>Advertise on JamMate today!</p>
    <p><%= ad_data.content %></p>
    <div class="blockquote text-center">
    <a href="https://www.google.com"><img src="<%= ad_data.fileURL %>" alt="" width="200px" height="200px"></a>
    </div>
</div>