<div class="card-body jm-comment">
    <h5 class="card-title"><a href="">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/6.webp" class="rounded-circle" alt="Avatar" style="height: 40px" /></a>
        <strong><%= commentData.nickname %></strong>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted"><a href="" class="text-dark mb-0">

    </a></h6>
    <p class="card-text"><p><%= commentData.commentText %></p>
    <div>
        <div class="jm-post-time">-
            <% const localDateTime = new Date(commentData.timestamp).toLocaleString(); %>
            <%= localDateTime %>
        </div>
    </div>
</div>
