<div class="d-flex align-items-center"> <!-- Use "d-flex" for Flexbox layout -->
    <!-- Image -->
    <a href="" class="text-muted small ms-3 me-2"><strong>Like</strong></a>
    <a href="" class="text-muted small me-2"><strong>Reply</strong></a>
    <!-- Media body -->
    <h5 class="fw-bold">
        <%= commentData.nickname %>
    </h5>
    <p>
        <% const localDateTime = new Date(commentData.timestamp).toLocaleString(); %>
        Posted on <%= localDateTime %>
    </p>
    <p>
        <%= commentData.commentText %>
    </p>
    <!-- Media body -->
</div>
