<nav class="navbar jm-navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">
        <img class="jm-logo" src="https://storage.googleapis.com/jammate-cs467_cloudbuild/htmlMedia/jm-logo-small.png">
        JamMate
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <% if (loggedIn) { %>
            <li class="nav-item active">
                <a class="nav-link" href="/user">Profile</a>
              </li>
        <% }%>
        </ul>
        <% if (loggedIn) { %>
            <a href="/logout" class="jm-link-button"> Logout</a>
        <% } else { %>
            <a href="/login" class="jm-link-button"> Login</a>
        <% } %>

        <form class="d-flex" action="/search" method="GET" role="search">
            <div class="input-group">
                <input class="form-control me-2"
                type="search" name="term" placeholder="Search" aria-label="Search">
            </div>
            <button class="jm-button" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <datalist id="instruments">
    <option value="Piano">
    <option value="Electric Guitar">
    <option value="Acoustic Guitar">
    <option value="Violin">
    <option value="Drums">
    <option value="Bass Guitar">
    <option value="Flute">
    <option value="Saxophone">
    <option value="Clarinet">
    <option value="Trumpet">
    <option value="Cello">
    <option value="Harp">
    <option value="Keyboard">
    <option value="Ukulele">
    <option value="Trombone">
    <option value="Banjo">
    <option value="Accordion">
    <option value="Mandolin">
    <option value="Horn">
    <option value="Xylophone">
    <option value="Viola">
    <option value="Oboe">
    <option value="Tuba">
    <option value="Bassoon">
    <option value="Bagpipes">
    <option value="Hurdy Gurdy">
    <option value="Sitar">
    <option value="Cajon">
    <option value="Djembe">
    <option value="Tabla">
    <option value="Marimba">
    <option value="Didgeridoo">
    <option value="Theremin">
    <option value="Vibraphone">
    <option value="Zither">
    <option value="Guzheng">
    <option value="Erhu">
    <option value="Koto">
    <option value="Mbira">
    <option value="Shamisen">
    <option value="Pan Flute">
    <option value="Tambourine">
    <option value="Castanets">
    <option value="Dulcimer">
</datalist>
<datalist id="genres">
    <option value="Pop">
    <option value="Rock">
    <option value="Hip Hop">
    <option value="Jazz">
    <option value="Classical">
    <option value="Country">
    <option value="Blues">
    <option value="Electronic">
    <option value="R&B">
    <option value="Folk">
    <option value="Reggae">
    <option value="Indie">
    <option value="Metal">
    <option value="Punk">
    <option value="Soul">
    <option value="Funk">
    <option value="Alternative">
    <option value="Gospel">
    <option value="Dance">
    <option value="Techno">
    <option value="House">
    <option value="Trance">
    <option value="Dubstep">
    <option value="Ska">
    <option value="Grime">
    <option value="K-Pop">
    <option value="Latin">
    <option value="Rap">
    <option value="Trap">
</datalist>

