<!-- Input -->
<div class="d-flex mb-3">
    <a href="">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/18.webp" class="border rounded-circle me-2"
        alt="Avatar" style="height: 40px" />
    </a>
    <div data-mdb-input-init class="form-outline w-100">
        <textarea class="form-control" id="textAreaExample" rows="2"></textarea>
        <label class="form-label" for="textAreaExample">Write a comment</label>
    </div>
    </div>