<%- include('partials/header', {user: loggedIn}) %>
<body>
<table class="table table-hover table-forum text-center">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
<tbody>
    <% if (loggedIn) { %>
        <%- include('partials/post', {user: user}) %>
    <% } else { %>
        <% const user = {nickname: "JohnDoe", description: "Likes long walks" }; %>
        <%- include('partials/post', {user: user}) %>
    <% } %>

</tbody>
</table>


</body>
<footer>
    <%- include('partials/footer') %>
</footer>
</html>
