/* Style for the login button */
.button-login {
    background-color: #0d541d; /* Green */
    border: none;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Style for the logout button */
.button-logout {
    background-color: #530f15; /* Red */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap; /* Wrap flex items to the next line */
    column-gap: 5 rem; /* add gap between flex items */
    align-items: flex-start;
}

.bio-box {
    border: 5px solid  var(--jm-color-darkest);
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    background-color: var(--jm-color-light);;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    font-weight: bold;
}

.post-buttons {
    margin-top: 10px;
}

.post-content {
    margin-bottom: 15px;
}

.form-top-padding {
    margin-top: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Style for the cover photo box */
.cover-photo-box {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--jm-color-darkest);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    text-align: center;
}

/* Style for the cover photo */
.cover-photo {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

footer {
    background-color: var(--jm-color-light);
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 15px 0;
    text-align: center;
}

