html {
    --base-spacing: 1rem;
    --jm-green: #003049;
    --jm-red: #D62828;
    --jm-orange: #F77F00;
    --jm-yellow: #FCBF49;
    --jm-yellow-light: #EAE2B7;
}

.jm-link-button {
    display: inline-block;
    padding: 5px 3px; /* Adjust padding as needed */
    background-color: var(--jm-yellow); /* Button background color */
    color: var(--jm-green); /* Button text color */
    text-decoration: none; /* Remove underline */
    border-color: var(--jm-orange);
    border-radius: 5px; /* Apply rounded corners */
    cursor: pointer; /* Show pointer on hover */
    display: inline-block;
    box-shadow: 0px 3px, 6px, rgba(0, 0, 0, 0.5); /* Initial box shadow */
}

.jm-button {
    cursor: pointer;
    background-color: var(--jm-yellow);
    color: var(--jm-green);
    border-color: var(--jm-orange);
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

.jm-outer-border {
    padding: calc(var(--base-spacing) * .75);
    background-color: var(--jm-red);
    margin-bottom: calc(var(--base-spacing) *.25);
}

.jm-inner-border {
    padding: calc(var(--base-spacing) * .75);
    background-color: var(--jm-yellow-light);
    margin-bottom: calc(var(--base-spacing) *.25);
}

.jm-navbar {
    background: linear-gradient(180deg, var(--jm-red) 0%, var(--jm-yellow) 100%);
}

.jm-clickable-user-name {
    padding-left: 2em;
}

.jm-posts-homepage {
    border: 10px solid;
    border-image: linear-gradient(45deg, #D62828, #003049) 1;
    border-radius: 5px;
    margin-top: 3em;
    background-color: #003049;
}

.jm-logo {
    width: 64px;
    align-items: center;
    font-size: larger;
}

.jm-profile-picture {
    width: 64px;
    align-items: center;
    border-radius: 50%;
}

.jm-ad {
    min-width: 15rem;
    text-align: center;
    margin-top: 3em;
}

.jm-post {
    text-align: center;
    margin-bottom: 10px;
    background-color: beige;
    border-image-width: 20px;
    min-width: 20em;
}

.jm-header {
    text-align: center;
    align-items: center;
    background-color: #FCBF49;

}

.jm-feed-header {
    text-align: center;
    align-items: center;
    background-color: #003049;
    font-size: larger;
    color: white;

}

.jm-card-body {
    background-color: #003049;
}

.jm-comment {
    text-align: left;
    min-width: 15rem;
}