html {
    --base-spacing: 1rem;
    --jm-color-darkest: #18141D;
    --jm-color-dark: #3C313D;
    --jm-color-neutral: #55535B;
    --jm-color-light: #9D9BA2;
    --jm-color-lightest: #EBEAEC;
}

a {
    text-decoration: none;
    color: var(--jm-color-lightest)
}

.jm-color-darkest {
    background-color: var(--jm-color-darkest);
}
.jm-color-dark {
    background-color: var(--jm-color-dark);
}
.jm-color-neutral {
    background-color: var(--jm-color-neutral);
}
.jm-color-light{
    background-color: var(--jm-color-light);
}
.jm-color-lightest{
    background-color: var(--jm-color-lightest);
}

.jm-link-button {
    display: inline-block;
    margin: 10px;
    padding: 5px 3px; /* Adjust padding as needed */
    background-color: var(--jm-color-light); /* Button background color */
    color: var(--jm-color-darkest); /* Button text color */
    text-decoration: none; /* Remove underline */
    border-color: var(--jm-color-neutral);
    border-radius: 5px; /* Apply rounded corners */
    cursor: pointer; /* Show pointer on hover */
    display: inline-block;
    box-shadow: 0px 3px, 6px, rgba(0, 0, 0, 0.5); /* Initial box shadow */
}

.jm-comment-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 5px; /* Adjust padding as needed */
    background-color: #391842; /* Button background color */
    color: var(--jm-color-lightest); /* Button text color */
    text-decoration: none; /* Remove underline */
    border-color: var(--jm-color-neutral);
    border-radius: 5px; /* Apply rounded corners */
    cursor: pointer; /* Show pointer on hover */
    display: inline-block;
    box-shadow: 0px 3px, 6px, rgba(0, 0, 0, 0.5); /* Initial box shadow */
}

.jm-edit-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 5px; /* Adjust padding as needed */
    background-color: #451938; /* Button background color */
    color: var(--jm-color-lightest); /* Button text color */
    text-decoration: none; /* Remove underline */
    border-color: var(--jm-color-neutral);
    border-radius: 5px; /* Apply rounded corners */
    cursor: pointer; /* Show pointer on hover */
    display: inline-block;
    box-shadow: 0px 3px, 6px, rgba(0, 0, 0, 0.5); /* Initial box shadow */
}

.jm-comment-delete-button {
    background-color: #732F3e;
    display: inline-block;
    margin: 10px;
    padding: 10px 5px; /* Adjust padding as needed */
    color: var(--jm-color-lightest); /* Button text color */
    text-decoration: none; /* Remove underline */
    border-color: var(--jm-color-neutral);
    border-radius: 5px; /* Apply rounded corners */
    cursor: pointer; /* Show pointer on hover */
    display: inline-block;
    box-shadow: 0px 3px, 6px, rgba(0, 0, 0, 0.5); /* Initial box shadow */
}

.jm-button {
    cursor: pointer;
    background-color: var(--jm-color-light);
    color: var(--jm-color-darkest);
    border-color: var(--jm-color-neutral);
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

.jm-text-area {
    max-width: 280px;
}

.jm-outer-border {
    padding: calc(var(--base-spacing) * .75);
    background-color: var(--jm-color-lightest);
    margin-bottom: calc(var(--base-spacing) *.25);
}

.jm-inner-border {
    padding: calc(var(--base-spacing) * .75);
    background-color: var(--jm-light-grey-light);
    margin-bottom: calc(var(--base-spacing) *.25);
}

.jm-navbar {
    background: linear-gradient(180deg, var(--jm-color-dark) 0%, var(--jm-color-light) 100%);
}

.jm-clickable-user-name {
    padding-left: 2em;
}

.jm-comment-clickable-user-name {
    padding-left: 2em;
    color: var(--jm-color-darkest);
}

.jm-posts-homepage {
    border-radius: 5px;
    margin-top: 0em;
    background-color: var(--jm-color-light);
}

.jm-post-content {
    border: 2px solid var(--jm-color-darkest);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 2px;
}

.jm-post-time {
    text-align: right;
    margin-top: 5px;
    margin-left: auto;
}

.jm-post-metadata{
    margin-left: auto;
    margin-right: auto;
}

.jm-logo {
    width: 64px;
    height: auto;
    align-items: center;
    font-size: larger;
}

.jm-profile-picture {
    width: 64px;
    height: auto;
    align-items: center;
    border-radius: 50%;
}

.jm-ad {
    background-color: #EBEAEC;
    max-width: 30%;
    min-width: 15rem;
    text-align: center;
    margin-top: 0em;
    padding: 1em;
    margin-right: 2em;
    margin-bottom: 2em;
    font-weight: bold;
}

.jm-post {
    margin-bottom: 0px;
    background-color: white;
    border-image-width: 20px;
    min-width: 20em;
}

.jm-header {
    text-align: center;
    align-items: center;
    background-color: #FCBF49;
    font-size: x-large;
}

.jm-post-elements {
    display: flex;
    align-items: center; /* Align items vertically centered */
    margin-top: 5px;
}
.jm-post-elements img {
    margin: 0 5px; /* Optional: Add some spacing between the images and the count */
}
.jm-post-elements span {
    margin: 0 10px; /* Optional: Add some spacing between the like and dislike buttons */
}

.jm-user-ad {
    margin-bottom: 1em;
}

.jm-main-cards {
    margin-top: 1em;
    align-items: center;
}

.jm-feed-header {
    text-align: center;
    align-items: center;
    background-color: var(--jm-color-dark);
    font-size: x-large;
    color: var(--jm-color-lightest);
    padding: 10px;
}

.jm-card-body {
    background-color: var(--jm-color-darkest);
}

.jm-comment {
    text-align: left;
    min-width: 15rem;
}

.jm-input-form {
    margin: 10px;
    padding: 10px;
}